#root {
  min-width: 100%;
}

.CryptoInfos {
  padding-top: 4em;
}

.MainTitle {
  border-bottom: 1px solid rgba(99, 99, 99, 0.507);
  border-top: 1px solid rgba(99, 99, 99, 0.507);
}

.MainTitle>h1 {
  padding-left: 2em;
  color: #394082;
}

.MainContent {
  display: table;
  width: 100%;
  padding-top: 30px;
}

.PortfoliosListDiv {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  height: 500px;
  border-right: 1px solid rgba(99, 99, 99, 0.507);
}


.AssetsTable {
  width: 50%;
  float: left;
  min-width: 50%;
  padding-left: 4em;
}

th {
  height: 50px;
}

tr {
  text-align: center;
}

.portFolioUl {
  padding: 0;
  margin: 0;
}

.ulElement {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.liElement {
  list-style: none;
  color: #000000;
  padding-right: 25px;
  display: flex;
  cursor: pointer;

}

.deletePortfolio {
  margin: 0 5px;
}

.deletePortfolio:hover {
  filter: drop-shadow(0 0 2px rgb(255, 0, 0));
  caret-color: transparent;
  cursor: pointer;
}

.cryptoToTV:hover {
  caret-color: transparent;
  cursor: pointer;
}


.AddTransactionBtn {
  color: #000000;
  padding: 3em;
}

.AssetsTable {
  color: #000000;
  padding: 1em;
}

.AssetsTable>th,
td,
tr {
  padding: 2em;
}

.redPercentage {
  color: #cc0000
}

.greenPercentage {
  color: rgb(0, 165, 0)
}

.portfolioStatsContainer {
  display: flex;
  padding-left: 40px;
}

h2 {
  color: #394082;
}

h4 {
  padding-left: 10px;
  color: #394082;
}


.cryptoImage {
  width: 30px;
  height: 30px;
  padding-top: 20%;
  padding-bottom: -20%;
}

body {
  caret-color: transparent;
}

table {
  border-collapse: collapse;
}

tr:hover {

  filter: drop-shadow(0 0 20px rgb(4, 0, 255));
}

.addTransactionBtn {
  float: right;
  margin-right: 15%;
}